apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {servername}
  namespace: mc-{username}
  labels:
    app: minecraft
    server: {servername}
    user: {username}
spec:
  serviceName: {servername}
  replicas: 1
  selector:
    matchLabels:
      app: minecraft
      server: {servername}
  template:
    metadata:
      labels:
        app: minecraft
        server: {servername}
        user: {username}
    spec:
      containers:
        - name: minecraft
          image: hasanbaig786/kubecraft
          env:
          - name: EULA
            value: "TRUE"
          - name: VERSION
            value: "1.21.11"
          - name: GAME_MODE
            value: "survival"
          - name: MAX_PLAYERS
            value: "5"
          ports:
          - containerPort: 25565
            name: minecraft
            protocol: TCP
          resources:
            requests:
              cpu: "1000m"
              memory: "2Gi"
            limits:
              cpu: "1500m"
              memory: "4Gi"
          readinessProbe:
            tcpSocket:
              port: 25565
            initialDelaySeconds: 30
            periodSeconds: 10
          volumeMounts:
          - name: mc
            mountPath: /data
  volumeClaimTemplates:
  - metadata:
      name: mc
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: "local-path"
      resources:
        requests:
          storage: 10Gi