apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kc-registration-admin
  labels:
    app: kubecraft
    component: registration
rules:
# Create user namespaces
- apiGroups: [""]
  resources: ["namespaces"]
  verbs: ["create", "get", "list"]
# Create user RBAC resources
- apiGroups: [""]
  resources: ["serviceaccounts"]
  verbs: ["create", "get"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["roles", "rolebindings"]
  verbs: ["create", "get"]
# Update the ClusterRoleBinding to add new users
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["clusterrolebindings"]
  verbs: ["get", "update", "patch"]
  resourceNames: ["kc-users-capacity-check"]
# Create resource quotas
- apiGroups: [""]
  resources: ["resourcequotas"]
  verbs: ["create", "get"]
# Generate ServiceAccount tokens
- apiGroups: [""]
  resources: ["serviceaccounts/token"]
  verbs: ["create"]