apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kc-registration-admin
  labels:
    app: kubecraft
    component: registration
rules:
# Create user namespaces
- apiGroups: [""]
  resources: ["namespaces"]
  verbs: ["create", "get", "list"]
# Permissions needed to grant to users (required for binding roles)
- apiGroups: [ "" ]
  resources: [ "persistentvolumeclaims", "services" ]
  verbs: [ "get", "list", "create", "update", "delete" ]
- apiGroups: [ "" ]
  resources: [ "pods" ]
  verbs: [ "get", "list" ]
- apiGroups: [ "" ]
  resources: [ "pods/logs" ]
  verbs: [ "get" ]
- apiGroups: [ "apps" ]
  resources: [ "statefulsets" ]
  verbs: [ "create", "get", "list", "patch", "update", "delete" ]
# Create user RBAC resources
- apiGroups: [""]
  resources: ["serviceaccounts"]
  verbs: ["create", "get"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["roles"]
  verbs: ["create", "get", "escalate"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["rolebindings"]
  verbs: ["create", "get", "bind"]
# Update the ClusterRoleBinding to add new users
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["clusterrolebindings"]
  verbs: ["get", "update", "patch"]
  resourceNames: ["kc-users-capacity-check"]
# Create resource quotas
- apiGroups: [""]
  resources: ["resourcequotas"]
  verbs: ["create", "get"]
# Generate ServiceAccount tokens
- apiGroups: [""]
  resources: ["serviceaccounts/token"]
  verbs: ["create"]